<div class="container">
  <br>
  <h1 class="page-header text-light">Reminders</h1>
  <br>
<ul class="list-group">
  <% if (reminders.length == 0) { %>
    <div class="text-muted">
      <h6>you have no reminders at the moment.</h6>
    </div>
  <% } %>
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item text-dark">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success ">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }) %>
</ul>

</div>
